<html>
<head>
  <link rel="stylesheet" href="/css/master.css">
</head>
<body>
  <h1>{{title}}</h1>

  <div class="people">

    {{#users}}
      <div class="person">
        <a href="/users/{{id}}"><img src={{avatar}} alt=""></a>
          <h1>{{name}}</h1>
          <p>{{job}}{{company}}</p>
          <p>{{^job}} Available for hire.{{/job}}</p>
      </div>
    {{/users}}
  </div>

</body>
</html>
