<html>
<head>
  <link rel="stylesheet" href="/css/master.css">
</head>
<body>
  <h1>{{title}}</h1>

  <div class="profile">

    {{#person}}
      <div class="profileInfo">
        <img src={{avatar}} alt="">
          <h5>{{name}}</h5>
          <h3>{{phone}}</h3>
          <h3>{{address.city}}, {{address.country}}</h3>
          <h4>{{email}}</h4>
          <p style="font-weight: bold;">Education</p><p>{{university}}</p>
          <p style="font-weight: bold;">Skills</p><p>{{skills}}</p>
      </div>
    {{/person}}
  </div>

</body>
</html>
