<html>
<head>
  <link rel="stylesheet" href="/css/master.css">
</head>
<body>
  <h1>{{title}}</h1>

  <div class="profile">

    {{#person}}
      <div class="profileInfo">
        <img src={{avatar}} alt="">
          <h5>{{name}}</h5>
          <p>{{job}}</p>

      </div>
    {{/person}}
  </div>

</body>
</html>
