<html>
<head>
  <link rel="stylesheet" href="/css/master.css">
</head>
<body>
  <h1>{{title}}</h1>

  <div class="profile">

    {{#person}}
      <div class="imageDiv">
        <img src={{avatar}} alt="">
      </div>
      <div class="profileInfo">
          <h1>{{name}}</h1>
          <h3>{{phone}}</h3>
          <h3>{{address.city}}, {{address.country}}</h3>
          <h4>{{email}}</h4>
      </div>
      </div>
      <div class="bottomInfo">
          <p style="font-weight: bold;"> Education: {{university}}</p>
      </div>
      <div class="bottomInfo2">
          <p style="font-weight: bold;"> Skills: {{skills}}</p>
      </div>

    {{/person}}


</body>
</html>
